@model HE.InvestmentLoans.Contract.Application.Queries.GetApplicationDashboardQueryResponse;

<div class="govuk-grid-column-full govuk-!-padding-top-8">
    <div class="govuk-grid-row">
        <gds-div-grid-column-two-thirds>
            <span class="govuk-caption-m">
                @Model.OrganizationName
            </span>
            <gds-h1 size="ControlSize.L">
                @Model.ApplicationName
            </gds-h1>


            <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>ID @Model.ApplicationReferenceNumber</strong>
                <application-status-tag application-status="@Model.ApplicationStatus" />
            </p >
            <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>LUHBF</strong>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Last edited ... by ...
            </p>
        </gds-div-grid-column-two-thirds>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-6">
        <div class="govuk-grid-column-one-third">
            <ul class="govuk-list">
                <li>
                    <a href="#" class="govuk-link govuk-link--no-underline">Overview</a>
                </li>
                <li>
                    <a href="#" class="govuk-link govuk-link--no-underline">Supporting documents</a>
                </li>
            </ul>
        </div>

        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("ApplicationDashboard/_ApplicationDashboardOverview", Model.ApplicationId)
        </div>
    </div>
</div>
