@using HE.InvestmentLoans.BusinessLogic.LoanApplication;
@using HE.InvestmentLoans.Common.Routing;
@using HE.InvestmentLoans.WWW.Controllers;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Summary
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Buttons
@using HE.Investments.Common.Gds
@model CheckYourDetailsModel

<gds-div-grid-column-two-thirds>
    <form asp-controller="LoanApplicationV2" asp-action="CheckYourDetailsPost" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.CheckYourDetails})" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

        <gds-h1 size="ControlSize.Xl">
            Check your details
        </gds-h1>
        <gds-div-inset-text>
            Homes England only offers loans to UK-registered corporate entities.<br/> If you have any questions, contact us via telephone: 0300 1234 500
        </gds-div-inset-text>
        <gds-summary-list class="govuk-!-margin-bottom-9">
            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Registered company name" },
            { "Value", Model.OrganizationBasicInformation.RegisteredCompanyName },
            })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Company Registration Number" },
            { "Value", Model.OrganizationBasicInformation.CompanyRegistrationNumber },
            })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Company address" },
            { "Value", Model.OrganizationBasicInformation.Address.Line1 },
            })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Contact name" },
            { "Value", Model.LoanApplicationContactName },
            { "Link", Url.RouteUrl(new {
                    controller = "user",
                    action = "ProfileDetails",
                    callback = nameof(LoanApplicationV2Controller.CheckYourDetails)
                }) }
            })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Email address" },
            { "Value", Model.LoanApplicationContactEmail },
            { "Link", Url.RouteUrl(new {
                    controller = "user",
                    action = "ProfileDetails",
                    callback = nameof(LoanApplicationV2Controller.CheckYourDetails)
                }) }
            })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Preferred telephone number" },
            { "Value", Model.LoanApplicationContactTelephoneNumber},
            { "Link", Url.RouteUrl(new {
                    controller = "user",
                    action = "ProfileDetails",
                    callback = nameof(LoanApplicationV2Controller.CheckYourDetails)
                }) }
            })
    </gds-summary-list>
    <gds-button name="action" type="submit" value="Continue" id="continue-button">
        Continue
    </gds-button>
</form>
</gds-div-grid-column-two-thirds>
