@using HE.InvestmentLoans.BusinessLogic.LoanApplicationLegacy.Workflow
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Fieldset
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Legend
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Paragraphs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios
@model LoanPurposeModel;
@inject ModelExpressionProvider modelProvider
@{
    var hints = new[] { "This can include the redevelopment of uninhabitable buildings, or associated infrastructure." };

    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((LoanPurposeModel x) => x.FundingPurpose));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="LoanApplicationV2" asp-action="LoanPurposePost"  asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.LoanPurpose })" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        What do you require Homes England funding for?
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-p>
                    We will use this to route you to the correct transaction manager.
                </gds-p>
                <gds-div-form-group invalid="radioInvalid">
                    @if (radioInvalid)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @radioErrors
                        </p>
                    }
                    <gds-custom-radio
                                  asp-for="FundingPurpose"
                                  value="@Model.FundingPurpose"
                                  radio-items="TemporaryFormOptions.FundingPurposes"
                                  radio-hints="@hints"
                                  class="govuk-!-margin-bottom-8">
                    </gds-custom-radio>
                </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>
        </gds-field-set>
    </form>
</gds-div-grid-column-two-thirds>
