@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Fieldset
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Legend
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios
@using HE.InvestmentLoans.Contract.ViewModels
@model HE.InvestmentLoans.Contract.ViewModels.ICompletedSectionViewModel

@inject ModelExpressionProvider ModelProvider
@{
    var (radioInvalid, _) = @ViewData.ModelState.GetErrors(ModelProvider.GetExpressionText((ICompletedSectionViewModel x) => x.CheckAnswers));
}

@if (Model.IsEditable())
{
    <gds-div-form-group>
        <gds-field-set>
            <gds-legend class="govuk-fieldset__legend--m">
                Have you completed this section?
            </gds-legend>

            <gds-div-form-group invalid="radioInvalid">
                <gds-radio
                    govuk-formgroup-asp-for="CheckAnswers"
                    asp-selectlistitems="TemporaryFormOptions.CheckAnswersCompletion"
                    asp-isexcludeheader>
                </gds-radio>
            </gds-div-form-group>
        </gds-field-set>
    </gds-div-form-group>

    <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
        Continue
    </button>
}
