@model HE.InvestmentLoans.WWW.Models.OrganisationDetailsModel;

<gds-div-grid-column-full>
    <form asp-controller="Organisation" asp-action="OrganisationDetails" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Index", "UserOrganisation", new {})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <gds-h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
            Manage @Model.OrganisationName details
        </gds-h1>

        <gds-h3 class="govuk-heading-l">
            Organisation details
        </gds-h3>

        <gds-summary-list class="govuk-!-margin-bottom-9">

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Registered company name" },
            { "Value", Model.OrganisationName },
            })

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Organisation phone number" },
            { "Value", Model.OrganisationPhoneNumber },
            })

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Organisation address" },
            { "Value", Model.OrganisationAddress },
            })

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
            {
            { "Title", "Companies House Registration number" },
            { "Value", Model.CompaniesHouseNumber },
            })

        </gds-summary-list>
        @if (Model.CurrentOrganisationDataState == "You requested")
        {
            <gds-div-grid-column-two-thirds class="govuk-!-padding-0">
                <div class="govuk-inset-text" data-testid="user-organisation-limited-user">
                    Your request to change details is pending. You cannot request to make additional changes until this change has been completed.
                </div>
            </gds-div-grid-column-two-thirds>
        }
        @if (Model.CurrentOrganisationDataState == "No pending request")
        {
            <gds-p>
                <gds-link href="">
                    Request to change organisation details
                </gds-link>
            </gds-p>
        }
        @if (Model.CurrentOrganisationDataState == "Pending request")
        {
            <gds-p>
                    To change your organisation details, contact your Transaction Manager.
            </gds-p>
        }
    </form>
</gds-div-grid-column-full>
