@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <a href="#" class="govuk-back-link" id="js-back-link">Back</a>

        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

        <p class="govuk-body">
            Contact the help to build team:<br/>
            <a href="mailto:helptobuildtechsupport@homesengland.gov.uk">helptobuildtechsupport@homesengland.gov.uk</a>
        </p>
        <p class="govuk-body">
            We aim to respond within 2 working days.
        </p>
    </div>
</div>
