@using HE.Investments.Common.Gds
@using HE.Investments.Loans.Contract.Application.Enums

@if (Model.Status is ApplicationStatus.Draft or ApplicationStatus.ReferredBackToApplicant)
{
    @if (Model.WasSubmitted)
    {
        <gds-h2 size="ControlSize.M">Submit application</gds-h2>
        <p>Your updated application will be sent to your Transaction Manager.</p>
        <form asp-controller="LoanApplicationV2" asp-action="TaskListPost" asp-route-id="@Model.Id" asp-method="post" novalidate>
            @if (Model.CanBeSubmitted)
            {
                <gds-button data-module="govuk-button" name="action" value="Continue" id="submit-application">
                    Submit
                </gds-button>
            }
            else
            {
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" id="submit-application">
                    Submit
                </button>
            }
        </form>
    }
    else
    {
        <gds-h2 size="ControlSize.M">Check and submit</gds-h2>
        <p>You must complete all sections before you can submit your application.</p>
        <form asp-controller="LoanApplicationV2" asp-action="TaskListPost" asp-route-id="@Model.Id" asp-method="post" novalidate>
            @if (Model.CanBeSubmitted)
            {
                <gds-button data-module="govuk-button" name="action" value="Continue" id="submit-application">
                    Check and submit application
                </gds-button>
            }
            else
            {
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" id="submit-application">
                    Check and submit application
                </button>
            }
        </form>
    }
}
else
{
    <gds-h2 size="ControlSize.M">Application submitted</gds-h2>
    <p>If you want to update your application, select the section you want to change.</p>
    <form asp-controller="LoanApplicationV2" asp-action="TaskListPost" asp-route-id="@Model.Id" asp-method="post" novalidate>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" id="submit-application">
            Submit
        </button>
    </form>
}
