@model HE.Investments.Common.WWW.Components.ListCard.ListCardModel

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Model.Header</h2>
    </div>
    <div class="govuk-summary-card__content">
        <vc:list-card-content model="Model" />
    </div>
</div>
