.govuk-button--disabled{
  pointer-events: none;
}

.govuk-button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
  color: #069;
  cursor: pointer;
}
