@using HE.Investments.Common.Messages

<div>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="action" type="submit" value="@GenericMessages.Calculate">
        @GenericMessages.Calculate
    </button>
</div>
