@using HE.Investments.Common.Messages
@using HE.Investments.Common.WWW.Extensions

@model (bool isEditable, bool isLinkInsideForm)

<div>
    @if (Model is { isEditable: true, isLinkInsideForm: true })
    {
        <vc:link-working-as-button text="Save and return to your account" name="action" value="@GenericMessages.SaveAndReturn"/>
    }
    else if (Model is {  isEditable: true, isLinkInsideForm: false })
    {
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.OrganisationAction("Index", "Account")">
            Save and return to your account
        </gds-link>
    }
    else
    {
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.OrganisationAction("Index", "Account")">
            Return to your account
        </gds-link>
    }
</div>
