@using HE.Investments.Common.Messages
@model (string Text, bool IsDisabled)

<button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@GenericMessages.Continue" disabled="@Model.IsDisabled">
    @Model.Text
</button>
