@using HE.Investments.Common.Messages
@model string

<button class="govuk-button" data-module="govuk-button" name="action" type="submit" id="continue-button" value="@GenericMessages.Continue">
    @Model
</button>
