<p>
    When you amend your milestone grant amounts, you must ensure that at least 5% remains on the completion milestone.
</p>
<p>
    If you have incurred costs and made enough payments to cover it, you may put up to 95% of the grant on to the acquisition and start on site milestone. The total must not exceed the amount apportioned to this delivery phase.
</p>
<p>
    You will not be able to complete delivery phases until these tranche proportions for this delivery phase add to 100%. You can save and return to this section later if you do not have the correct figures.
</p>
