@using HE.Investments.Common.Extensions
@model HE.Investment.AHP.WWW.Models.Delivery.SummaryOfDeliveryRow

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        <gds-h3 size="ControlSize.S">
            @Model.ValueName
        </gds-h3>
        <p class="govuk-body govuk-!-margin-bottom-1"> @($"\u00a3{Model.Value.ToWholeNumberString()}") </p>
    </dt>
</div>
