@model (string Name, bool isVisible, string message)

@if (Model.isVisible)
{
    <span class="govuk-error-message" data-valmsg-for="@Model.Name">
        <span class="govuk-visually-hidden">Error:</span>@Model.message
    </span>
}
