@model (string Name, List<string> messages)

@foreach (var message in Model.messages)
{
    <span class="govuk-error-message" data-valmsg-for="@Model.Name">
        <span class="govuk-visually-hidden">Error:</span>@message
    </span>
}
