@using HE.Investments.Account.WWW.Views.Shared.Components.OrganisationListCard
@using HE.Investments.Account.WWW.Views.UserOrganisations.Const
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.TagHelpers
@model HE.Investments.Account.WWW.Models.UserOrganisations.UserOrganisationsListModel;
@{
    ViewData["Title"] = UserOrganisationsPageTitles.List;
    var organisationInformation = Model.Organisations == null ?
        "You are not associated with any organisations."
        : "Your account is associated with these organisations. Select an organisation to continue.";
}

<he-div-grid-column-full>
    <vc:notification/>

    <gds-div-grid-column-two-thirds class="govuk-!-padding-0 govuk-!-margin-top-8">
        <vc:page-header title="@UserOrganisationsPageTitles.List"/>
        <gds-p>
            @organisationInformation
        </gds-p>
    </gds-div-grid-column-two-thirds>

    <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0 govuk-!-padding-right-6">
        @if (Model.Organisations != null)
        {
            foreach (var organisation in Model.Organisations)
            {
                var items = new OrganisationListCardModel(
                    organisation.Name,
                    Url.OrganisationAction("Index", "UserOrganisation", new { organisationId = organisation.OrganisationId })!,
                    organisation.Street,
                    organisation.City,
                    organisation.PostalCode,
                    organisation.CompanyHouseNumber);
                <vc:organisation-list-card model="@items"></vc:organisation-list-card>
            }
        }
    </gds-div-grid-column-two-thirds>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("_ActionsPanel", Model.Actions)
    </div>
</he-div-grid-column-full>
