@using HE.Investments.Common.WWW.Components.FormButton
@model (string UserId, string OrganisationName, string UserFullName)
@{
    var title = $"Are you sure you want to remove {Model.UserFullName} from {Model.OrganisationName}?";
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("Index", "Users", new { id = Model.UserId })"></gds-back-link>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:page-header title="@title"/>

    <form asp-controller="Users" asp-action="Unlink" asp-route-id="@Model.UserId" asp-method="post" novalidate>

        <vc:radio-yes-no
            field-name="Unlink"
            hint="They will no longer be able to access information or applications for this organisation."/>

        <vc:form-button text="Continue"/>
    </form>
</gds-div-grid-column-two-thirds>
