@using HE.Investments.Common.WWW.Models
@model (string fieldName, IEnumerable<ExtendedSelectListItem> availableOptions, string value)

@foreach (var option in Model.availableOptions)
{
    var id = option == Model.availableOptions.First() ? Model.fieldName : $"{Model.fieldName}-{option.Value}";
    var isSelected = option.Selected || Model.value == option.Value;

    <div class="govuk-radios__item">
        @Html.RadioButton(Model.fieldName, option.Value, isSelected, new { id, @class = "govuk-radios__input" })
        <label class="govuk-label govuk-radios__label" for="@id">
            @option.Text
        </label>
        @if (!string.IsNullOrWhiteSpace(option.Hint))
        {
            <he-div-hint class="govuk-!-padding-left-3">
                @option.Hint
            </he-div-hint>
        }
    </div>
}
