@using HE.Investment.AHP.WWW.Views.Application
@using HE.Investments.Common.WWW.Components.InputListHeader

@{
    var unorderedListItems = new List<string>
    {
        "grant recipient/s must enter a suitable form of grant agreement with Homes England",
        "grant recipient/s must become a Homes England Investment Partner (where not already) before submission of first claim",
        "the intended landlord of sub-market rental homes must be a Register Provider of Social Housing before first let"
    };
    var orderedListItems = new List<string>
    {
        "This is full and final application and the organisation's board has approved, at least in principle, the schemes submitted and this will apply to all future schemes bid.",
        "That no scheme bid for under AHP 2021-26 will displace delivery under any other Homes England programmes (including strategic partnership pipeline delivery).",
        "All information, all confirmations and certifications in relation to the application are correct in all material respects (and if applicable consortium members have authorised the Lead Partner to make such confirmations and certifications).",
        "We consent that, if applicable, relevant financial information provided to the Regulator of Social Housing may be shared with Homes England for assessment purposes.",
        $"We are aware that any subsequent award of grant funding will be subject to the terms of the programme, including that:"
    };
}

<div>
    <vc:input-list-header
        title="@ApplicationPageTitles.SubmitConfirm"
        title-type="InputTitleType.InputTitle"/>

    <he-ol class="govuk-!-margin-left-6 govuk-!-margin-bottom-0" items="@orderedListItems"></he-ol>
    <he-ul class="govuk-!-margin-left-9 govuk-!-margin-top-0" items="@unorderedListItems"></he-ul>
</div>
