@model IList<HE.Investments.Account.WWW.Models.UserOrganisation.ProgrammeModel>
@if (Model.Any())
{
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <gds-h2 size="ControlSize.M">
                    Programmes you can apply for
                </gds-h2>
            </dt>
        </div>
        @foreach (var programme in Model)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <a href="@programme.CreateApplicationUrl" data-testid=@($"user-organisation-start-new-application-{programme.Type.ToString().ToLowerInvariant().Replace(' ', '-')}")>@programme.Name</a>
                    <gds-p class="govuk-!-margin-top-4">
                        @programme.Description
                    </gds-p>
                </dt>
            </div>
        }
    </dl>
}
