@model IList<HE.Investments.Account.WWW.Models.UserOrganisation.ProgrammeModel>
@if (Model.Any())
{
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <gds-h3 size="ControlSize.M">
                    Programmes you can apply for
                </gds-h3>
            </dt>
        </div>
        @foreach (var programme in Model)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    <gds-h3 size="ControlSize.M">
                        @programme.Name
                    </gds-h3>
                    <gds-p>
                        @programme.Description
                    </gds-p>

                    <link-button action-url="@programme.CreateApplicationUrl"
                                 data-testid=@($"user-organisation-start-new-application-{programme.Type.ToString().ToLowerInvariant().Replace(' ', '-')}")
                                 is-disabled="@(!programme.CanCreateApplication)">
                        Start new application
                    </link-button>
                </dt>
            </div>
        }
    </dl>
}
