@using HE.Investments.Account.WWW.Views.UserOrganisation
@model HE.Investments.Account.WWW.Models.UserOrganisation.UserOrganisationModel;
@{
    ViewData["Title"] = UserOrganisationPageTitles.OrganisationsList;
}

<gds-div-grid-column-two-thirds>

    <vc:notification/>
    <vc:page-header title="@UserOrganisationPageTitles.OrganisationsList"/>
    <div>
        Placeholder for the organisations list
    </div>
</gds-div-grid-column-two-thirds>
