@using HE.Investments.Common.Gds
@model (string Caption, string Title)

@if (!string.IsNullOrWhiteSpace(Model.Caption))
{
    <span class="govuk-caption-l">
        @Model.Caption
    </span>
}
<gds-legend size="ControlSize.L">
    <gds-fieldset-heading>
        @Model.Title
    </gds-fieldset-heading>
</gds-legend>
