@using HE.Investments.Common.WWW.Extensions
@model IList<HE.Investments.Common.WWW.Models.ActionModel>
@if (Model.Any())
{
    <hr class="separator"/>
    @foreach (var action in Model)
    {
        <strong class="govuk-!-display-inline-block govuk-!-padding-top-3">
            <a href="@Url.OrganisationAction(action.Action, action.Controller)">@action.Label</a>
        </strong>
    }
}
