@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Summary.V2
@{
    var showRow = !(ViewData["Title"] == null);

    var value = ViewData["Value"];
    var valueList = value as IEnumerable<string>;
}
@if (showRow)
{
    <gds-summary-list-row-v2>
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
            @ViewData["Title"]
        </dt>

        <gds-summary-list-value-v2>
            @if (valueList != null)
            {
                foreach (var line in valueList)
                {
                    <p>@line</p>
                }
            }
            else
            {
                if (value != null)
                {
                    <p>@value</p>
                }
                else
                {
                    <p>Not provided</p>
                }
            }
        </gds-summary-list-value-v2>
    </gds-summary-list-row-v2>
}
