@using HE.InvestmentLoans.Contract.CompanyStructure
@model HE.InvestmentLoans.Contract.CompanyStructure.CompanyStructureViewModel
@inject ModelExpressionProvider modelProvider

@{

    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((CompanyStructureViewModel x) => x.CheckAnswers));
}
<gds-div-grid-column-two-thirds>
    <form asp-controller="CompanyStructureV2" asp-action="CheckAnswersPost" asp-route-id="@Model.LoanApplicationId" asp-route-ending="CheckAnswers" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","CompanyStructure", new {id = Model.LoanApplicationId})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null" />

        <gds-h1 size="ControlSize.L">|
            Check your answers
        </gds-h1>
        <gds-h1 size="ControlSize.M">
            Company structure and experience
        </gds-h1>

        @await Html.PartialAsync("_CompanyStructureAnswers", Model)


        <gds-div-form-group>
            <gds-field-set>
                <gds-legend class="govuk-fieldset__legend--m">
                    Have you completed this section?
                </gds-legend>

                <gds-div-form-group invalid="radioInvalid">
                <gds-radio
                    govuk-formgroup-asp-for="CheckAnswers"
                    asp-selectlistitems="TemporaryFormOptions.CheckAnswersCompletion"
                    asp-isexcludeheader>
                </gds-radio>
                </gds-div-form-group>
            </gds-field-set>
        </gds-div-form-group>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
            Continue
        </button>

    </form>
</gds-div-grid-column-two-thirds>
