@using HE.Investments.FrontDoor.Contract.Project
@using HE.Investments.FrontDoor.WWW.Views.Shared.Components.FrontDoorWorkflowBackButton
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.FrontDoor.WWW.Extensions
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@{
    ViewData["Title"] = ProjectPageTitles.CheckAnswers;
    var projectId = this.GetProjectIdFromRoute();
}

<gds-div-grid-column-two-thirds>
    <vc:front-door-workflow-back-button current-page="@ProjectWorkflowState.CheckAnswers"></vc:front-door-workflow-back-button>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Project" asp-action="Complete" asp-route-projectId="@projectId" asp-route-workflow="@Context.Request.Query["workflow"]" asp-method="post" novalidate>
        TODO: @ProjectPageTitles.CheckAnswers

        <vc:form-button/>
    </form>
</gds-div-grid-column-two-thirds>
