@using HE.Investments.FrontDoor.Contract.Project
@using HE.Investments.FrontDoor.WWW.Views.Shared.Components.FrontDoorWorkflowBackButton
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@{
    ViewData["Title"] = ProjectPageTitles.LocalAuthorityResult;
}

<gds-div-grid-column-two-thirds>
    <vc:front-door-workflow-back-button current-page="@ProjectWorkflowState.LocalAuthorityResult"></vc:front-door-workflow-back-button>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Project" asp-action="LocalAuthorityResult" asp-route-workflow="@Context.Request.Query["workflow"]" asp-method="post" novalidate>
        TODO: @ProjectPageTitles.LocalAuthorityResult

        <vc:form-button/>
    </form>
</gds-div-grid-column-two-thirds>
