@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@{
    ViewData["Title"] = ProjectPageTitles.NotEligibleForAnything;
    var projectId = ViewContext.RouteData.Values.FirstOrDefault(x => x.Key == "projectId").Value as string;
    var backUrl = string.IsNullOrEmpty(projectId)
        ? Url.Action("NewEnglandHousingDelivery", "Project", new { IsEnglandHousingDelivery = false })
        : Url.Action("EnglandHousingDelivery", "Project", new { projectId });
}

<gds-div-grid-column-two-thirds>
    <gds-back-link href="@backUrl" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:page-header title="@ProjectPageTitles.NotEligibleForAnything"/>
    <gds-p>Based on your answers, you are not eligible for any Homes England support.</gds-p>
    <gds-p>You were not eligible because you told us your project is outside of the area that Homes England supports.</gds-p>

    <a class="govuk-button govuk-!-margin-right-4" data-module="govuk-button" href="@Url.Action("Index", "Account")">
        Continue
    </a>
</gds-div-grid-column-two-thirds>
