<div>
    <gds-link class="govuk-link--no-visited-state" data-testId="return-to-applications"
              href="@Url.Action("Index", "Application")">
        Return to applications
    </gds-link>
</div>
