@using HE.Investments.Common.WWW.Extensions
@model string
<div>
    <gds-link class="govuk-link--no-visited-state" data-testId="return-to-applications"
              href="@Url.OrganisationAction("Index", "Application", new { projectId = Model })">
        Return to applications
    </gds-link>
</div>
