@model (string Caption, string Title)

@if (!string.IsNullOrWhiteSpace(Model.Caption))
{
    <span class="govuk-caption-l">
        @Model.Caption
    </span>
}

@if (!string.IsNullOrEmpty(Model.Title))
{
    <gds-h1 class="govuk-heading-xl">
        @Model.Title
    </gds-h1>
}
