@model (string Caption, string Title, string Hint, string CssClass)

<div class="@Model.CssClass">
    @if (!string.IsNullOrWhiteSpace(Model.Caption))
    {
        <span class="govuk-caption-l">
            @Model.Caption
        </span>
    }

    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <gds-h1>
            @Model.Title
        </gds-h1>
    }

    @if (!string.IsNullOrEmpty(Model.Hint))
    {
        <he-div-hint>
            @Model.Hint
        </he-div-hint>
    }
</div>
