@model (string Title, string Value, string FieldName, ModelExpression ForField, GdsInputPrefixText? Prefix, bool IsInvalid, string Error)
@{
    var errorCss = Model.IsInvalid ? "govuk-form-group--error" : string.Empty;
}
<div class="govuk-form-group @errorCss">

    <gds-legend class="govuk-!-margin-bottom-0">
        <gds-h2 class="govuk-!-margin-bottom-1">
            @Model.Title
        </gds-h2>
    </gds-legend>
    <gds-input asp-hiddenlabeltext="@Model.FieldName"
               class="govuk-input--width-5"
               asp-labelclass="govuk-label"
               govuk-formgroup-asp-for="Model.LandValue"
               name="@Model.FieldName"
               asp-prefixtext=@Model.Prefix
               value=@Model.Value />
</div>
