@using HE.Investment.AHP.WWW.Views.ConsortiumMember.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investments.AHP.Consortium.Contract
@using HE.Investments.AHP.Consortium.Contract.Commands
@model OrganisationDetails

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@ConsortiumMemberWorkflowState.RemoveMember"/>
    <form asp-controller="ConsortiumMember" asp-action="RemoveMember" asp-method="post" novalidate>
        <vc:radio-yes-no title="@ConsortiumMemberPageTitles.RemoveMember(Model.Name)"
                         title-type="InputTitleType.PageHeader"
                         hint="The organisation will no longer be able to view any applications."
                         field-name="@nameof(RemoveOrganisationFromConsortiumCommand.IsConfirmed)"/>

        <vc:form-button text="Continue"/>
    </form>
</gds-div-grid-column-two-thirds>
