@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel

<gds-div-grid-column-two-thirds>
    <form asp-controller="Security" asp-action="WorkflowPost" asp-route-id="@Model.ID" asp-route-ending="Index" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Workflow","LoanApplication", new {id = Model.ID})" text="Back to application" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <gds-h1 class="govuk-heading-xl">
            Security details
        </gds-h1>

        <gds-p>In this section, you’ll need to tell us:</gds-p>

        <gds-ul class="govuk-!-margin-bottom-8">
            <li>if there are any charges outstanding or debt secured on this company</li>
            <li>if there are any existing debentures to another lender</li>
            <li>if there are any director loans</li>
        </gds-ul>


        <gds-button-start data-module="govuk-button" name="action" type="submit" value="Continue">
            Start now
        </gds-button-start>
    </form>
</gds-div-grid-column-two-thirds>