<div>
    <gds-p>The start on site milestone applies as a payment event only to eligible schemes where start on site is achieved, and is triggered when:</gds-p>
    <ul class="govuk-list govuk-list govuk-list--bullet">
        <li>the provider and the building contractor have entered in to a building contract</li>
        <li>the building contractor takes possession of the site or property</li>
        <li>the works have commenced</li>
    </ul>
    <gds-p class="govuk-!-margin-bottom-0">For full details of the requirements for claiming this milestone, read the <gds-link target="_blank" href="https://www.gov.uk/guidance/capital-funding-guide/6-programme-management">Capital Funding Guide, under 4.1 onwards (opens in a new tab).</gds-link></gds-p>
</div>
