.govuk-heading-xm {
    color: #0b0c0c;
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px
}

@media print {
    .govuk-heading-xm {
        color: #000;
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    .govuk-heading-xm {
        font-size: 28px;
        line-height: 1.25
    }
}

@media print {
    .govuk-heading-xm {
        font-size: 22pt;
        line-height: 1.15
    }
}

@media (min-width:40.0625em) {
    .govuk-heading-xm {
        margin-bottom: 24px
    }
}

.govuk-no-space{
  padding-top: 0 !important;
}

.govuk-header__label {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.14286;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
}

@media (min-width: 40.0625em) {
    .govuk-heading-xm {
        font-size: 28px;
        line-height: 1.25;
        margin-bottom: 24px;
    }

    .govuk-summary-list__no-actions .govuk-summary-list__key {
        width: 40%;
    }

    .govuk-summary-list__no-actions .govuk-summary-list__value {
        width: 60%;
    }

    .govuk-summary-list__no-actions .govuk-summary-list__actions {
        width: 0%;
    }

    .govuk-summary-header {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        font-size: 1.1875rem;
        font-weight: 400;
        line-height: 1.31579;
    }

    .govuk-summary-header .govuk-summary-header__header {
        margin-bottom: 0;
        width: 100%;
    }

    .govuk-summary-header .govuk-summary-header__actions {
        text-align: right;
        width: 40%;
    }

    .govuk-summary-header__no-actions .govuk-summary-header__header {
        width: 100%;
    }
}
