@model HE.InvestmentLoans.CRM.Model.Account
@{
    ViewData["Title"] = "Home Page";
}

<gds-div-grid-column-two-thirds>
    <form asp-route="/" asp-method="post" novalidate>

        <gds-h1 class="govuk-!-margin-top-9" size="ControlSize.Xl">
            Dashboard
        </gds-h1>

            <a href="/application">
                <gds-button-start type="button">
                    Start application
                </gds-button-start>
            </a>
    </form>
</gds-div-grid-column-two-thirds>
