@using HE.InvestmentLoans.Contract.Application.Enums;
@model DashboardModel
@{
    ViewData["Title"] = "Home Page";
}

<gds-column width="ColumnWidth.Full">
    <div class ="govuk-!-margin-top-4">
        @await Html.PartialAsync("_Notification", Model.NotificationService)
    </div>

    <gds-h1 class="govuk-!-margin-top-6" size="ControlSize.L">
        @Model.DashboardData.AccountName home page
    </gds-h1>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">
            <gds-column width="ColumnWidth.ThreeQuarters" class="govuk-!-padding-left-0">
                Your applications
            </gds-column>
            <gds-column width="ColumnWidth.OneQuarter" class="govuk-!-padding-right-0">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Sort by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                        <option value="published">Recently published</option>
                        <option value="updated" selected>Recently updated</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </gds-column>
        </caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Stage</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var application in Model.DashboardData.LoanApplications)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("ApplicationDashboard", "LoanApplicationV2", new { id = application.Id.Value })" id=@($"open-application-link-{application.Id.Value}")>@application.ApplicationName</a>
                    </span>
                </td>
                <td class="govuk-table__cell">Application</td>

                <td class="govuk-table__cell">
                    <application-status-tag application-status="@application.Status"></application-status-tag>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a href="/application" id="start-application-link">
        <gds-button-start type="button">
            Start application
        </gds-button-start>
    </a>
</gds-column>
