@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<gds-div-grid-column-two-thirds>
<p>Use this page to detail your site's privacy policy.</p>
</gds-div-grid-column-two-thirds>