@model string;

<div>
    <gds-link class="govuk-link--no-visited-state"
              href="@Url.Action("Details", "Project", new { projectId = Model })">
        Return to your project
    </gds-link>
</div>
