@using HE.Investment.AHP.WWW.Views.Application;
@using HE.Investment.AHP.WWW.Models.Project;

@model ProjectBasicModel;
@{
    var title = ApplicationPageTitles.Start(Model.SelectedProgramme.FullName, Model.SelectedProgramme.ShortName);
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-three-quarters">
    <gds-back-link href="@Url.Action("Details", "Project", new { projectId = Model.Id })" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>

    <vc:page-header title="@title"/>

    <div class="govuk-!-padding-bottom-8">
        <gds-p>
            As part of your application, you will need to provide details about your scheme. For example:
            <ul class="govuk-list govuk-list govuk-list--bullet">
                <li>location</li>
                <li>tenure</li>
                <li>planning</li>
                <li>costs</li>
                <li>land</li>
                <li>number of homes</li>
                <li>delivery forecasts</li>
                <li>grant required</li>
            </ul>
        </gds-p>
        <gds-p>
            You will be able to save and return to this application at any time. If you not have the
            information to answer a question, you can continue but will have to answer it later.
        </gds-p>
        <gds-p>
            By starting this application, you are confirming that any information you provide is
            truthful and accurate to the best of your knowledge.
        </gds-p>
    </div>

    <form asp-controller="Application" asp-action="StartPost" asp-route-fdProjectId="@Model.Id" asp-method="post" novalidate>
        <gds-button-start type="submit">Start now</gds-button-start>
    </form>

    <vc:return-to-project-link/>
</div>
