@{
    var title = ViewData["RowTitle"];
    var value = ViewData["RowValue"];
    var valueList = value as IEnumerable<string>;
}
@if (title != null)
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
            @title
        </dt>

        <dd class="govuk-summary-list__value">
            @if (valueList != null)
            {
                foreach (var line in valueList)
                {
                    <p>@line</p>
                }
            }
            else
            {
                if (value != null)
                {
                    <p>@value</p>
                }
                else
                {
                    <p>Not provided</p>
                }
            }
        </dd>
    </div>
}
