@{
    ViewData["Title"] = "Guidance";
    ViewData["PreviousLink"] = Url.Action("Eligibility", "Guidance");
    ViewData["PreviousLinkName"] = "Eligibility";
    ViewData["NextLink"] = Url.Action("AfterApply", "Guidance");
    ViewData["NextLinkName"] = "What happens after you apply";
}

<gds-div-grid-column-two-thirds>
    <partial name="Guidance/_MainGuidanceNavigation" />

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <gds-h2 size="ControlSize.L">
        Apply
    </gds-h2>

    <gds-h3 size="ControlSize.S">
        How to apply
    </gds-h3>

    <gds-p>You will need to complete an application once you have successfully confirmed eligibility.</gds-p>

    <gds-p>By applying online, you will first create an account. Once your account has been created and verified, you will begin your application.
        If you already have an account, log in to start an application.</gds-p>

    <gds-p class="govuk-!-margin-bottom-1">During your application, we will ask you about your:</gds-p>
    <ol class="govuk-list govuk-list--number">
        <gds-li>Company structure and experience</gds-li>
        <gds-li>Funding and security details</gds-li>
        <gds-li>Project details</gds-li>
    </ol>

    <gds-p>It may take us up to 10 working days to review your application and contact you regarding our decision. </gds-p>

    <div class="govuk-!-margin-top-8">
        <a href="@Url.Action("StartApplication", "LoanApplicationV2")">
            <gds-button-start type="button">
                Apply Online
            </gds-button-start>
        </a>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <partial name="_SignUpAndLoginButton" />

    @await Html.PartialAsync("Guidance/_PreviousWithLinkName", ViewData)

    @await Html.PartialAsync("Guidance/_NextWithLinkName", ViewData)

</gds-div-grid-column-two-thirds>

<partial name="Guidance/_AsideRelatedContentSection" />
