@{
    if (!ViewData.TryGetValue("NextLink", out var nextLink))
    {
        nextLink = "#";
    }
    if (!ViewData.TryGetValue("NextLinkName", out var nextLinkName))
    {
        nextLinkName = "";
    }
}

<div class="guidance-next-link-container govuk-!-margin-bottom-5">
    <svg class="guidance-link-arrow" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
    </svg>
    <a id="guidance-next-link" class="govuk-link govuk-link--no-underline" href="@nextLink">
        <span class="guidance-mainpart-link">Next</span>
        <br />
        <span class="guidance-subpart-link">@nextLinkName</span>
    </a>
</div>
