@{
    ViewData["Title"] = "Morelas Ltd. Homes England account";
}

<gds-div-grid-column-two-thirds>
    <a href="@(Url.Action("Start", "Project"))">Start a new project</a>
</gds-div-grid-column-two-thirds>
