@using HE.Investments.Common.Gds
@using HE.Investments.Loans.WWW.Views.FundingV2.Consts
@model HE.Investments.Loans.Contract.Application.ValueObjects.LoanApplicationId

<gds-div-grid-column-two-thirds>
    <form asp-controller="FundingV2" asp-action="StartFundingPost" asp-route-id="@Model.Value" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("TaskList","LoanApplicationV2", new { Id = Model.Value })" text="Back to application" class="govuk-!-margin-bottom-8">
        </gds-back-link>


        <gds-h1 size="ControlSize.L">
            @FundingPageTitles.StartFunding
        </gds-h1>

        <gds-p>We need to know about the funding details for this project.</gds-p>

        <div class="govuk-!-padding-bottom-8">
            <gds-p>In this section, you’ll tell us:</gds-p>
            <gds-ul>
                <gds-li>Gross Development Value (GDV)</gds-li>
                <gds-li>total project costs</gds-li>
                <gds-li>if you have approached a private sector provider for funding for this project</gds-li>
                <gds-li>if you have previously received public sector grant funding for this project</gds-li>
                <gds-li>if you are working on any additional projects</gds-li>
                <gds-li>how you plan repay the loan for this project</gds-li>
            </gds-ul>
        </div>

        <gds-button-start data-module="govuk-button" name="action" type="submit" value="Continue" id="start-now-button">
            Start now
        </gds-button-start>
    </form>

</gds-div-grid-column-two-thirds>
