@using HE.InvestmentLoans.BusinessLogic.LoanApplication;
@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@{
    var loanApllicationWorkflow = new LoanApplicationWorkflow(Model);
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="LoanApplicationV2" asp-action="Submit" asp-route-id="@Model.ID" asp-route-ending="CheckAnswers" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","LoanApplicationV2", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <gds-h1 size="ControlSize.Xl">
            Check your answers before submitting your application
        </gds-h1>


        <gds-h2>Company structure and experience</gds-h2>
        @await Html.PartialAsync("_CompanyStructureAnswers", Model.Company)

        <gds-h2>Funding details</gds-h2>
        @await Html.PartialAsync("_FundingAnswers", Model.Funding)

        <gds-h2>Security details</gds-h2>
        @await Html.PartialAsync("_SecurityAnswers", Model.Security)

        <gds-h2>Project details</gds-h2>
        @foreach (var site in Model.Sites)
        {
            @await Html.PartialAsync("_ProjectAnswers", site)
        }


        <gds-h2 size="ControlSize.M">Now submit your application</gds-h2>
        <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        @if (loanApllicationWorkflow.IsFilled())
        {
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Accept and submit
            </button>
        }
        else
        {
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button">
                Accept and submit
            </button>
        }
    </form>

    <gds-link href="@Url.Action("Back","LoanApplicationV2", new {id = Model.ID})">
        Return to application
    </gds-link>
</gds-div-grid-column-two-thirds>
