@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel

<gds-div-grid-column-two-thirds>
    <form asp-controller="Funding" asp-action="WorkflowPost" asp-route-id="@Model.ID"  asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","Funding", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <gds-field-set>
            <gds-legend class="govuk-fieldset__legend--l">
                How are these additional projects being funded?
            </gds-legend>
            <gds-div-hint>
                Select all that apply.
            </gds-div-hint>

            <gds-checkbox govuk-formgroup-asp-for="Funding.AdditionalProjectsFunding"
                          value="@Model.Funding.AdditionalProjectsFunding"
                          asp-selectlistitems="TemporaryFormOptions.FundingType"
                          asp-haschildcheckboxs="false"
                          asp-ischeckboxgroup="true"
                          asp-isexcludeheader="true"
                          asp-excludelabel="true">
            </gds-checkbox>

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Funding.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>