@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider
@using System.Text;
@{

    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Funding.CheckAnswers));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Funding" asp-action="WorkflowPost" asp-route-id="@Model.ID"  asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","Funding", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null" />

        <gds-h1 size="HeaderSize.L">
            Check your answers
        </gds-h1>



        @await Html.PartialAsync("_FundingAnswers", Model.Funding)
        <gds-div-form-group>
            <gds-field-set>
                <gds-legend class="govuk-fieldset__legend--m">
                    Have you completed this section?
                </gds-legend>

                <gds-div-form-group invalid="radioInvalid">
                    <gds-radio govuk-formgroup-asp-for="Funding.CheckAnswers"
                               asp-selectlistitems="TemporaryFormOptions.CheckAnswersCompletion">
                    </gds-radio>
                </gds-div-form-group>
            </gds-field-set>
        </gds-div-form-group>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
            Continue
        </button>

    </form>
</gds-div-grid-column-two-thirds>
