@using HE.Investment.AHP.Domain.Scheme.Workflows
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Affordability of Shared Ownership";
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-three-quarters">
    <vc:workflow-back-button action="@SchemeWorkflowState.Affordability.ToString()" param-name="schemeId"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="Affordability" asp-method="post" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        <gds-field-set role="group">
            <vc:form-field-title title="Tell us about any evidence and analysis you have that the homes will be affordable to the target market"/>
            <gds-error-form-group asp-for="AffordabilityEvidence">
                <gds-text-area asp-for="AffordabilityEvidence" rows="5"></gds-text-area>
                <gds-p>
                    You can enter up to 1500 characters
                </gds-p>
            </gds-error-form-group>
        </gds-field-set>
        <vc:form-button/>
    </form>
</div>
