@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormFieldTitle
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Local housing needs";
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-three-quarters">
    <vc:workflow-back-button action="@SchemeWorkflowState.HousingNeeds.ToString()" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="HousingNeeds" asp-method="post" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        @Html.HiddenFor(m => Model.ApplicationName)
        <gds-field-set role="group">
            <vc:form-field-title
                field-name="TypeAndTenureJustification"
                title="Tell us how this type and tenure of home meets the identified priorities for the local housing market"/>
            <gds-error-form-group asp-for="TypeAndTenureJustification">
                <gds-text-area asp-for="TypeAndTenureJustification" rows="5" class="govuk-!-margin-bottom-2"></gds-text-area>
                <gds-div-hint>
                    You can enter up to 1500 characters
                </gds-div-hint>
            </gds-error-form-group>

            <vc:form-field-title
                field-name="SchemeAndProposalJustification"
                title="Tell us how this scheme and proposal contributes to a locally identified housing need"/>
            <gds-error-form-group asp-for="SchemeAndProposalJustification">
                <gds-text-area asp-for="SchemeAndProposalJustification" rows="5" class="govuk-!-margin-bottom-2"></gds-text-area>
                <gds-div-hint>
                    You can enter up to 1500 characters
                </gds-div-hint>
            </gds-error-form-group>
        </gds-field-set>
        <vc:form-button/>
    </form>
</div>
