@using HE.Investment.AHP.Domain.Scheme.Workflows
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Local housing needs";
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-three-quarters">
    <vc:workflow-back-button action="@SchemeWorkflowState.HousingNeeds.ToString()" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="SalesRisk" asp-method="post" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        <gds-field-set role="group">
            <vc:form-field-title title="Tell us how this type and tenure of home meets the identified priorities for the local housing market"/>
            <gds-error-form-group asp-for="TypeAndTenureJustification">
                <gds-text-area asp-for="TypeAndTenureJustification" rows="5"></gds-text-area>
                <gds-p>
                    You can enter up to 1500 characters
                </gds-p>
            </gds-error-form-group>

            <vc:form-field-title title="Tell us how this scheme and proposal contributes to a locally identified housing need"/>
            <gds-error-form-group asp-for="SchemeAndProposalJustification">
                <gds-text-area asp-for="SchemeAndProposalJustification" rows="5"></gds-text-area>
                <gds-p>
                    You can enter up to 1500 characters
                </gds-p>
            </gds-error-form-group>
        </gds-field-set>
        <vc:form-button/>
    </form>
</div>
