@model IList<HE.Investment.AHP.WWW.Models.Scheme.SchemeModel>
@{
    ViewData["Title"] = "Schemes";
}
<div class="govuk-grid-column-three-quarters">
    <gds-back-link href="@Url.Action("Index", "Home")" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>

    <gds-h1 class="govuk-heading-xl">
        Schemes
    </gds-h1>
    <div class="govuk-!-padding-bottom-8">
        @foreach (var scheme in Model)
        {
            <gds-p>
                <a href="@Url.RouteUrl("action", new { action = "name", controller = "scheme", id = scheme.Id })"> @scheme.Name </a>
            </gds-p>
        }
    </div>
</div>
