<gds-h1 class="govuk-!-margin-top-9">
    Contact
</gds-h1>
<gds-p>
    Contact us if you have a query about using this service. Use this telephone number:
</gds-p>
<gds-p>
    <span class="govuk-!-font-weight-bold">Telephone</span> <br/>
    0800 389 2500<br/>
    Monday to Friday 8:30am to 5:30pm<br/>
    (except public holidays)<br/>
    Free of charge
</gds-p>
