@using HE.InvestmentLoans.WWW.Routing
@{
    var breadcrumbs = ViewBag.Breadcrumbs as IList<Breadcrumb>;
}

@if (breadcrumbs != null && breadcrumbs.Any())
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">

            @for (int i = 1; i <= breadcrumbs.Count; i++)
            {
                var breadcrumb = breadcrumbs[i - 1];
                var isLast = i == breadcrumbs.Count;
                <li class="govuk-breadcrumbs__list-item">
                    @if (string.IsNullOrEmpty(breadcrumb.Action) || isLast)
                    {
                        <span
                            class="govuk-breadcrumbs__link govuk-breadcrumbs__link--inactive">
                            @breadcrumb.Text
                        </span>
                    }
                    else
                    {
                        <a
                            class="govuk-breadcrumbs__link"
                            href=@(Url.Action(breadcrumb.Action, breadcrumb.Controller, breadcrumb.Params))>
                            @breadcrumb.Text
                        </a>
                    }
                </li>
            }
        </ol>
    </div>
}
