@using HE.InvestmentLoans.Common.Contract.Services.Interfaces;
@using HE.InvestmentLoans.WWW.Helpers.Notification;
@inject INotificationService NotificationService
@{
    var (isNotificationInCache, notificationModel) = NotificationService.Pop();
    var description = "";
    var linkDescription = "";

    if (notificationModel != null)
    {
        description = NotificationMapper.MapBodyTypeToDescription(notificationModel.NotificationBodyType, notificationModel.ValuesToDisplay);
        linkDescription = NotificationMapper.MapBodyTypeToLinkDescription(notificationModel.NotificationBodyType, notificationModel.ValuesToDisplay);
    }
}

@if (isNotificationInCache)
{
    <div class="govuk-notification-banner @(notificationModel?.Type == NotificationType.Success ? "govuk-notification-banner--success" : "") govuk-!-margin-bottom-8" role="alert"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @notificationModel?.Title
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                @description
                @if (!string.IsNullOrEmpty(linkDescription))
                {
                    <br />
                    <a href="">@linkDescription</a>
                }
        </h3>
    </div>
</div>
}
