<gds-h1 size="ControlSize.M">
    Log in to your account
</gds-h1>

<gds-p>
    Log in to your Homes England account to view and edit your applications for a development loan.
    If you do not have an account, <a href="@Url.Action("SignUp", "HeIdentity")">you can create one here.</a>
</gds-p>

<a href="@Url.Action("SignIn", "HeIdentity")">
    <gds-button data-module="govuk-button" name="action">
        Login to your account
    </gds-button>
</a>
