@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="Index" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Workflow","LoanApplication", new {id = @id })" text="Back to application" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <gds-h1 class="govuk-heading-xl">
            Project details
        </gds-h1>

        <gds-p class="govuk-!-margin-bottom-8">Tell us about your project or projects. You can add more than one.</gds-p>

        <gds-p>In this section, you might need to tell us:</gds-p>
        <gds-ul class="govuk-!-margin-bottom-9">
            <gds-single-li>the project name, type and address</gds-single-li>
            <gds-single-li>the amount and type of homes you are building</gds-single-li>
            <gds-single-li>details about the planning permission</gds-single-li>
            <gds-single-li>details about the ownership of the land</gds-single-li>
            <gds-single-li>any public sector grant funding the land has received</gds-single-li>
            <gds-single-li>if there are any legal charges or debt on the land</gds-single-li>
            <gds-single-li>the amount of affordable homes the project will deliver</gds-single-li>
        </gds-ul>

        <button class="govuk-button govuk-button--start" data-module="govuk-button" name="action" type="submit" value="Continue">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </button>


    </form>
</gds-div-grid-column-two-thirds>