@using HE.Investments.Common.Gds
@model HE.Investments.Loans.BusinessLogic.ViewModel.LoanApplicationViewModel

<gds-div-grid-column-two-thirds>
    <gds-panel class="govuk-!-margin-top-5" title="Application complete" confirmation>
        Your reference number<br> <strong>HDJ2137F</strong>
    </gds-panel>



    <div class="govuk-!-margin-left-5 govuk-!-margin-bottom-9">
        <gds-p>We have sent you a confirmation email. You can log back in to your account to see the progress of your application at any time.</gds-p>
        <gds-h2 size="ControlSize.M">What happens next</gds-h2>
        <gds-p>We’ve sent your application to Homes England.</gds-p>
        <gds-p>We will contact you either to confirm your registration, or to ask for more information.</gds-p>
        <gds-p>If a transaction manager has not contacted you within 10 working days, you should contact [INSERT CONTACT DETAILS].</gds-p>
    </div>
    <gds-button-group>
        <gds-button>Complete cashflow</gds-button>
        <gds-button secondary>Save and come back later</gds-button>
    </gds-button-group>
</gds-div-grid-column-two-thirds>