@model IList<HE.Investments.FrontDoor.Domain.Project.ProjectEntity>
@{
    ViewData["Title"] = "FrontDoor";
}

<div>
    Front Door - wait for it...
    <ul>
        @foreach (var project in Model)
        {
            <li>@project.Name</li>
        }
    </ul>
</div>
