@using HE.Investment.AHP.WWW.Views.Site.Const
@model HE.Investment.AHP.Contract.Site.SitesListModel
@{
    ViewData["Title"] = SitePageTitles.SiteList;
}
<div class="govuk-grid-column-full">
    <gds-back-link href="@Url.Action("Index", "Application")" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:page-header title="@SitePageTitles.SiteList"
                    caption="@Model.OrganisationName"
                    hint="Select a site to view site details or applications within the site."/>
    <gds-h2 class="govuk-!-margin-top-6">Your sites</gds-h2>
    <vc:sites-table sites="@Model.Page"/>
</div>
