@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Site
@model SiteModel
@{
    ViewData["Title"] = SitePageTitles.SiteSection106LocalAuthorityConfirmation;
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.Section106LocalAuthorityConfirmation" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Site" asp-action="Section106LocalAuthorityConfirmation" asp-method="post" novalidate>
        <vc:form-header title="@SitePageTitles.SiteSection106LocalAuthorityConfirmation" caption="@Model?.Name" additional-css-class="govuk-!-padding-top-8"></vc:form-header>

        <vc:text-area-input-with-counter field-name="@nameof(Model.Section106LocalAuthorityConfirmation)"
                                         value="@Model?.Section106LocalAuthorityConfirmation"
                                         hint="For example, any written confirmation or email." />

        @Html.HiddenFor(x => x.Id)

        <vc:form-button />
    </form>

</gds-div-grid-column-two-thirds>
