@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Site.Const
@model SiteModel
@{
    ViewData["Title"] = SitePageTitles.SiteSection106AdditionalAffordableHousing;
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.Section106AdditionalAffordableHousing" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Site" asp-action="Section106AdditionalAffordableHousing" asp-method="post" novalidate>
        <vc:form-header title="@SitePageTitles.SiteSection106AdditionalAffordableHousing" caption="@Model?.Name" additional-css-class="govuk-!-padding-top-8"></vc:form-header>

        <vc:radio-yes-no field-name="@nameof(Model.Section106AdditionalAffordableHousing)"
                         title="Are the homes contained within this application additional to the affordable housing secured through the developer contributions?"
            value="@Model?.Section106AdditionalAffordableHousing"/>

        @Html.HiddenFor(x => x.Id)

        <vc:form-button />
    </form>

</gds-div-grid-column-two-thirds>
