@using HE.Investment.AHP.WWW.Views.Site
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investment.AHP.Contract.Site
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links

<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("Back", "Site", new { currentPage = SiteWorkflowState.Start })" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:form-header title="@SitePageTitles.SiteDetails"/>

    <div class="govuk-!-padding-bottom-8">
        <gds-p>In this section, you’ll need to provide information about your sites. This includes:</gds-p>
        <ul class="govuk-list govuk-list govuk-list--bullet">
            <li>section 106 (s106)</li>
            <li>location</li>
            <li>planning progress</li>
            <li>National Design Guide priorities</li>
            <li>Building for a Healthy Life criteria</li>
            <li>land and tendering status</li>
            <li>site details</li>
            <li>Modern Methods of Construction (MMC)</li>
            <li>procurement</li>
        </ul>
        <gds-p>If your application concerns existing properties rather than land-led development, this section is still relevant to you. Complete this section in relation to the properties and where we use 'site' or 'land', substitute in 'properties'.</gds-p>
        <gds-p>We will also ask you to tell us if you’re using Modern Methods of Construction (MMC). If your site includes a mix of MMC and traditional build homes, you can indicate that here. We will ask for more details when you tell us about the homes on your site.</gds-p>
    </div>

    <a href="@Url.Action("Name", "Site")" id="continue-button">
        <gds-button type="button">Continue</gds-button>
    </a>

</gds-div-grid-column-two-thirds>
