@using HE.Investments.Common.Messages
@using HE.Investment.AHP.WWW.Views.Shared.Components.LinkWorkingAsButton

@model (bool isEditable, bool isLinkInsideForm)

<div>
    @if (Model is { isEditable: true, isLinkInsideForm: true })
    {
        <vc:link-working-as-button text="Save and return to sites" name="action" value="@GenericMessages.SaveAndReturn"/>
    }
    else if (Model is {  isEditable: true, isLinkInsideForm: false })
    {
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.Action("Index", "Site")">
            Save and return to sites
        </gds-link>
    }
    else
    {
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.Action("Index", "Site")">
            Return to sites
        </gds-link>
    }
</div>
