@using HE.Investments.Common.Messages
@using HE.Investments.Common.WWW.Components.LinkWorkingAsButton
@using HE.Investments.Common.WWW.Extensions

@model (string ProjectId, bool IsEditable, bool IsLinkInsideForm)

<div>
    @if (Model is { IsEditable: true, IsLinkInsideForm: true })
    {
        <vc:link-working-as-button text="Save and return to sites" name="action" value="@GenericMessages.SaveAndReturn"/>
    }
    else if (Model is {  IsEditable: true, IsLinkInsideForm: false })
    {
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.OrganisationAction("Index", "Site", new { Model.ProjectId })">
            Save and return to sites
        </gds-link>
    }
    else
    {
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.OrganisationAction("Index", "Site", new { Model.ProjectId })">
            Return to sites
        </gds-link>
    }
</div>
