@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider
@{
    var (hasError, fileInputError) = ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Company.CompanyInfoFile));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="CompanyStructure" asp-action="WorkflowPost" asp-route-id="@Model.ID" asp-route-ending="ExistingCompany" enctype="multipart/form-data" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","CompanyStructure", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-error-form-group asp-for="Company.ExistingCompany">
                <legend>
                    <gds-label-wrapper>
                        <gds-label size="@ControlSize.L" for="Company.ExistingCompany">
                            Provide more information about your organisation
                        </gds-label>
                    </gds-label-wrapper>
                </legend>
                <gds-div-hint>
                    Tell us about your organisation structure, including if your organisation is or has a parent company, or is part of a group structure.
                </gds-div-hint>
                <gds-text-area 
                    asp-for="Company.ExistingCompany"
                    rows="5"></gds-text-area>
            </gds-error-form-group>
            <gds-error-form-group asp-for="Company.CompanyInfoFile">
                <gds-div-hint>
                    You can also upload any relevant files such as company structure charts.
                </gds-div-hint>
                @if (hasError)
                {
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @fileInputError
                    </p>
                }
                <div class="govuk-form-group">
                    <label class="govuk-label" for="File">
                        Upload a file
                    </label>
                    <input class="govuk-file-upload" id="File" name="File" type="file">
                </div>
            </gds-error-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Company.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
