@using HE.Investments.Common.Gds
<div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-two-thirds guidance-aside-content">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <aside>
        <gds-h3 size="ControlSize.S">
            Related content
        </gds-h3>

        <ul class="govuk-list govuk-list--spaced">
            <gds-li>
                <gds-link href="https://www.gov.uk/guidance/home-building-fund-infrastructure-loans">
                    Home Building Fund - Infrastructure Loans
                </gds-link>
            </gds-li>
            <gds-li>
                <gds-link href="https://www.gov.uk/government/collections/affordable-homes-programme-2021-to-2026">
                    Affordable Homes Programme 2021 to 2026
                </gds-link>
            </gds-li>
        </ul>
    </aside>
</div>
