@using HE.Investments.Common.Messages
@model (string ApplicationId, bool IsEditable)

<button type="submit" class="govuk-link--no-visited-state govuk-button-link" name="action" value="@GenericMessages.SaveAndReturn">
    Return to application
</button>
