@model (string text, string action, string controller, object values, bool isStrong)

@if (Model.isStrong)
{
    <strong>
        <a href="@(Url.Action(Model.action, Model.controller, Model.values) ?? string.Empty)"> @Model.text </a>
    </strong>
}
else
{
    <a href="@(Url.Action(Model.action, Model.controller, Model.values) ?? string.Empty)"> @Model.text </a>
}
