@model (string Text, string Action, string Controller, object Values, bool IsStrong)

@if (Model.IsStrong)
{
    <strong>
        <a href="@(Url.Action(Model.Action, Model.Controller, Model.Values) ?? string.Empty)" class="govuk-link"> @Model.Text </a>
    </strong>
}
else
{
    <a href="@(Url.Action(Model.Action, Model.Controller, Model.Values) ?? string.Empty)" class="govuk-link"> @Model.Text </a>
}
