@using HE.InvestmentLoans.Contract.Projects;
@model HE.InvestmentLoans.Contract.Projects.ViewModels.ProjectViewModel;

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="CheckAnswers" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Back", "Project", new {id = Model.ApplicationId, projectId = Model.ProjectId, currentPage = ProjectState.CheckAnswers})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null" />

        <gds-h1 class="govuk-heading-xl">
            Check your answers
        </gds-h1>

        <partial name="Sections/_WithdrawnInformation" model="Model"/>

        @await Html.PartialAsync("_ProjectAnswers", Model)

        <partial name="Sections/_HaveYouCompletedThisSection" model="Model"/>
    </form>
</gds-div-grid-column-two-thirds>
