@model HE.InvestmentLoans.Contract.Projects.ViewModels.ProjectViewModel;
@inject ModelExpressionProvider modelProvider

@{
    var id = ViewContext.RouteData.Values["id"];
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.ApplicationId" asp-route-ending="CheckAnswers" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.ApplicationId, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null" />

        <gds-h1 class="govuk-heading-xl">
            Check your answers
        </gds-h1>

        <partial name="Sections/_WithdrawnInformation" model="Model"/>

        @await Html.PartialAsync("_ProjectAnswers", Model)

        <partial name="Sections/_HaveYouCompletedThisSection" model="Model"/>
    </form>
</gds-div-grid-column-two-thirds>
