@using HE.InvestmentLoans.Common.Extensions
@using HE.InvestmentLoans.Contract.Organization.ValueObjects
@using HE.InvestmentLoans.WWW.Views.Organization
@using HE.Investments.Common.WWW.Extensions
@using HE.InvestmentLoans.Contract.Projects.ViewModels;
@using HE.Investments.Common.Gds
@model ConfirmModel<LocalAuthoritiesViewModel>;

@inject ModelExpressionProvider ModelProvider
@{
    ViewData["Title"] = "Confirm Your Local Authority";
    var (radioInvalid, _) = ViewData.ModelState.GetErrors(ModelProvider.GetExpressionText((ConfirmModel<LocalAuthoritiesViewModel> x) => x.Response));
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("SearchOrganization", "Organization")">Back</gds-back-link>

    <partial name="_ErrorSummaryPartial" model="null"/>

    <gds-h1 size="ControlSize.Xl" class="govuk-!-margin-bottom-6">
        @ProjectPageTitles.LocalAuthorityConfirm
    </gds-h1>
    <gds-p>Local authority name</gds-p>
    <form asp-controller="Project" asp-action="LocalAuthorityConfirm" asp-route-localAuthorityId=@(Model.ViewModel.LocalAuthorityId) asp-method="post" novalidate>
        <gds-div-form-group>
            <gds-field-set>
                <gds-legend class="govuk-fieldset__legend--m">
                    Is this the correct local authority?
                </gds-legend>

                <gds-div-form-group invalid="radioInvalid">
                    <gds-radio
                        govuk-formgroup-asp-for="Response"
                        asp-selectlistitems="TemporaryFormOptions.YesNo"
                        asp-isexcludeheader>
                    </gds-radio>
                </gds-div-form-group>
            </gds-field-set>
        </gds-div-form-group>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" id="continue-button">
            Continue
        </button>
    </form>
</gds-div-grid-column-two-thirds>
