@model string

<gds-p class="govuk-!-margin-bottom-9">
    If you are not sure which local authority to choose, you can
    <a class="govuk-link" target="_blank" href="@Model">search for the name of the local authority using a postcode.</a>
</gds-p>
