@using HE.Investments.Common.Extensions
@model HE.Investments.AHP.Allocation.Contract.IAllocation;

<h2 class="govuk-heading-s govuk-!-margin-bottom-1">
    ID @Model.ReferenceNumber
    <span class="govuk-!-margin-2">|</span>
    @Model.LocalAuthority
    <span class="govuk-!-margin-2">|</span>
    @Model.Tenure.GetDescription()
</h2>

<h3 class="govuk-heading-s">@Model.ProgrammeName</h3>

