@using HE.Investments.Loans.WWW.Views.Security.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Lists
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Paragraphs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Buttons
@model HE.Investments.Loans.Contract.Application.ValueObjects.LoanApplicationId

<gds-div-grid-column-two-thirds>
    <form asp-controller="Security" asp-action="StartSecurityPost" asp-route-id="@Model.Value" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("TaskList","LoanApplicationV2", new { Id = Model.Value })" text="Back to application" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <gds-h1 class="govuk-heading-xl">
            @SecurityPageTitles.Index
        </gds-h1>

        <div class="govuk-!-padding-bottom-8">
            <gds-p>In this section, you’ll need to tell us if there are any:</gds-p>

            <gds-ul>
                <gds-li>charges outstanding or debt secured on this organisation</gds-li>
                <gds-li>directors’ loans</gds-li>
            </gds-ul>
        </div>

        <gds-button-start data-module="govuk-button" name="action" type="submit" value="Continue" id="start-now-button">
            Start now
        </gds-button-start>
    </form>
</gds-div-grid-column-two-thirds>
