@using HE.Investment.AHP.Domain.HomeTypes
<form asp-controller="HomeTypes" asp-action="HomeInformation" asp-method="post" novalidate>
    <gds-back-link href="@Url.Action("Back","HomeTypes", new { schemeId = ViewContext.RouteData.Values["schemeId"], homeTypeId = ViewContext.RouteData.Values["homeTypeId"], currentPage = HomeTypesWorkflowState.DisabledPeopleHousingType})" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

    <gds-h1 size="ControlSize.L">
        What type of housing will you be providing for disabled and vulnerable people?
    </gds-h1>
</form>

