@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investments.Common.Gds
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomesForDisabledPeopleModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<div class="govuk-grid-column-full">
    <form asp-controller="HomeTypes" asp-action="HomesForDisabledPeople" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","HomeTypes", new { applicationId, homeTypeId, currentPage = HomeTypesWorkflowState.HomesForDisabledPeople})" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

        <gds-div-hint>@Model.Header</gds-div-hint>
        <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0">
            <gds-field-set>
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>What type of homes will you be providing for disabled and vulnerable people?</gds-fieldset-heading>
                </gds-legend>

                <gds-custom-radio
                    asp-for="HousingType"
                    value="@Model.HousingType"
                    radio-items="HomeTypesFormOptions.DisabledPeopleHousingTypes"
                    class="govuk-!-margin-bottom-8">
                </gds-custom-radio>

                <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
                    Save and continue
                </button>
            </gds-field-set>

            <vc:return-to-application-link application-id="@applicationId"/>
        </gds-div-grid-column-two-thirds>
    </form>
</div>
