@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<div class="govuk-grid-column-full">
    <form asp-controller="HomeTypes" asp-action="HomeInformation" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","HomeTypes", new { applicationId, homeTypeId, currentPage = HomeTypesWorkflowState.HomesForDisabledPeople})" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

        <gds-h1 size="ControlSize.L">
            What type of housing will you be providing for disabled and vulnerable people?
        </gds-h1>
    </form>
</div>
