@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investments.Common.WWW.Components.FormHeader
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomeTypeModelBase;

@{
    ViewData["Title"] = HomeTypesPageTitles.LandingPage;
    var applicationId = this.GetApplicationIdFromRoute();
}

<div class="govuk-grid-column-full">
    <gds-back-link href="@Url.Action("Index","Home")" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:form-header title="@HomeTypesPageTitles.LandingPage" caption="@Model.ApplicationName" />

    <gds-p>
        In this section, you’ll need to provide information about the homes on this application. This includes:
    </gds-p>
    <ul class="govuk-list govuk-list govuk-list--bullet">
        <li>the number of homes</li>
        <li>building information</li>
        <li>the floor area </li>
        <li>Nationally Described Space Standards</li>
        <li>the design and client group information for specialist housing</li>
        <li>Rent or Shared Ownership details, depending on the tenure of your application</li>
        <li>Modern Methods of Construction (MMC)</li>
    </ul>

    <gds-p class="govuk-!-margin-top-8">
        Where you have homes on your application that are identical, you are able to record those as one home type.
    </gds-p>
    <gds-p>
        If there are any differences in the homes, you’ll need to create a new home type.
    </gds-p>
    <gds-p>
        Once you have created one home type, you will be able to duplicate this and amend any necessary details to create another.
    </gds-p>

    <a href="@Url.Action("List", "HomeTypes", new { applicationId })" id="continue-button">
        <gds-button type="button" class="govuk-!-margin-top-8">Continue</gds-button>
    </a>
</div>
