@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.Contract.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomeTypeBasicModel;
@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<gds-div-grid-column-two-thirds>
    <vc:home-type-form-header current-page="@HomeTypesWorkflowState.RentToBuyIneligible"
                              caption="@Model.Header"
                              title="Contact your Growth Manager"/>
    <gds-p>
        The rent for Rent to Buy homes must not exceed 80% of market rent, unless the local target rent, including service charge, is higher.
    </gds-p>

    <gds-p>
        Check the figures you have entered are correct. If the are, contact your Growth Manager to discuss this further.
    </gds-p>

    <div class="govuk-!-margin-top-9">
        <a class="govuk-button govuk-!-margin-right-4" data-module="govuk-button"
           href="@Url.Action("AffordableRent", "HomeTypes", new { applicationId, homeTypeId })">
            Go back and try again
        </a>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
           href="@Url.Action("List", "HomeTypes", new { applicationId, homeTypeId })">
            Save and return to your account
        </a>
    </div>
</gds-div-grid-column-two-thirds>
