@{
    var items = new[]
    {
        "The requirements for this milestone have been achieved in full and the Grant Recipient can make all representations, warranties and undertakings required under the Grant Agreement to be made in respect of this claim",
        "The Grant Recipient has been and remains in full compliance with the terms of the Grant Agreement and all applicable terms of the Capital Funding Guide and associated guidance",
        "All information submitted to Homes England pursuant to or in connection with the Grant Agreement is correct and its delivery forecasts remain accurate and up to date.",
    };
}

<div class="govuk-!-margin-bottom-8">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
        In submitting this claim as, or on behalf of, the Grant Recipient, I confirm that:
    </legend>

    <he-ol  items="@items"></he-ol>
</div>
