@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investment.AHP.WWW.Extensions
@model FinancialDetailsBaseModel
@{
    var title = FinancialDetailsPageTitles.StartPage;
    ViewData["Title"] = title;
    var applicationId = this.GetApplicationIdFromRoute();
}
<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("TaskList", "Application", new { applicationId })" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>
    <vc:form-header title="@title" caption="@Model.ApplicationName"/>

    <div class="govuk-!-padding-bottom-8">
        <gds-p>In this section you'll need to provide financial information related to your application. This includes:</gds-p>
        <ul class="govuk-list govuk-list govuk-list--bullet">
            <li>land value and acquisition cost</li>
            <li>other scheme costs</li>
            <li>borrowing and other contributions</li>
            <li>grants received from other public bodies</li>
        </ul>
        <gds-p>For multi-tenure sites, ensure the costs and contributions are apportioned across the development and only those applicable to the homes on this application are recorded here.</gds-p>
        <gds-p>If your application concerns existing properties rather than land-led development, this section is still relevant to you. Where we say 'site' or 'land', read 'properties'.</gds-p>
    </div>
    <link-button action-url="@Url.Action("LandStatus", "FinancialDetails", new { applicationId = Model.ApplicationId })">
        Continue
    </link-button>
</gds-div-grid-column-two-thirds>
