@model (string text, string name, string value);

<button type="submit" class="govuk-link--no-visited-state govuk-button-link" data-prevent-double-click="true" name="@Model.name" value="@Model.value">
    @Model.text
</button>

