@model (string Text, string Name, string Value);

<button type="submit" class="govuk-link--no-visited-state govuk-button-link" data-prevent-double-click="true" name="@Model.Name" value="@Model.Value">
    @Model.Text
</button>

