@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Extensions
@model string;

<div>
        <gds-link class="govuk-link--no-visited-state"
                  href="@Url.OrganisationAction("Index", "Account")">
            @(Model.IsProvided() ? Model : "Return to your account")
        </gds-link>
</div>
