@model (string Title, string Value)

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @Model.Title
    </dt>
    <dd class="govuk-summary-list__value">
        <p>@Model.Value</p>
    </dd>
</div>
