@using HE.Investments.Loans.BusinessLogic.LoanApplication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Lists
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Paragraphs
@model HE.Investments.Loans.BusinessLogic.ViewModel.LoanApplicationViewModel

<gds-div-grid-column-two-thirds>
    <form asp-controller="LoanApplicationV2" asp-action="AboutLoanPost" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.AboutLoan})" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

        <vc:page-header title="Before you apply for this loan"/>

        <gds-p>Before you apply, you must confirm you have read and agree with the following information.</gds-p>

        <gds-p>Homes England reserves the right to deny any application based on the information you provide us. Homes England cannot:</gds-p>
        <gds-ul>
            <gds-li>fund VAT on costs</gds-li>
            <gds-li>fund leasehold schemes where the ground rent is greater than a peppercorn</gds-li>
            <gds-li>fund any developments outside England</gds-li>
        </gds-ul>

        <gds-p>To secure any loan, Homes England usually/typically expects:</gds-p>
        <gds-ul>
            <gds-li>a first ranking debenture</gds-li>
            <gds-li>a first legal charge over the development site</gds-li>
            <gds-li>any outstanding director or shareholder loans to be fully subordinated behind Homes England funding</gds-li>
        </gds-ul>

        <gds-p>By continuing, you are confirming that you have read and understood the information provided. You are also confirming that any information you provide is truthful and accurate to the best of your knowledge.</gds-p>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
            Continue
        </button>
    </form>
</gds-div-grid-column-two-thirds>
