@using HE.Investments.Common.Gds
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Panels
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Paragraphs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Buttons
@model HE.Investments.Loans.Contract.Application.ValueObjects.SubmitLoanApplication

<gds-div-grid-column-two-thirds>
    <gds-panel class="govuk-!-margin-top-5" title="Application complete" confirmation>
        Your reference number<br> <strong>@Model.ApplicationName</strong>
    </gds-panel>

    @if (!Model.IsEnoughHomesToBuild)
    {
        <gds-div-inset-text>
            Homes England provide loans to developers building more than 5 homes.<br/>
            You’ve told us you will be building less than 5 homes.<br/>
            You’ll have the opportunity to discuss this when your transaction manager contacts you.
        </gds-div-inset-text>
    }

    <div class="govuk-!-margin-left-5 govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        <gds-p>We’ve sent you a confirmation email. You can log back in to your account to see the progress of your application at any time.</gds-p>
        <gds-h2 size="ControlSize.M">What happens next</gds-h2>
        <gds-p>We’ll contact you to discuss next steps and to ask for more information.</gds-p>
        <gds-p>If a transaction manager has not contacted you within 10 working days, you can contact: 0300 1234 500 or fundingenquiries@homesengland.gov.uk</gds-p>
        <gds-p><gds-link href="#">What did you think of this service?</gds-link> (takes 30 seconds)</gds-p>
    </div>

    <a href="@Url.Action("Index", "UserOrganisation")">
        <gds-button id="application-submitted-to-dashboard">Save and come back later</gds-button>
    </a>
</gds-div-grid-column-two-thirds>
