@using HE.Investments.Common.Gds
@using HE.Investments.Loans.BusinessLogic.LoanApplication
@model HE.Investments.Loans.WWW.Models.CheckYourDetailsModel

<gds-div-grid-column-two-thirds>
    <form asp-controller="LoanApplicationV2" asp-action="CheckYourDetailsPost" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.CheckYourDetails})" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

        <vc:page-header title="Check your details"/>

        <gds-summary-list class="govuk-!-margin-bottom-9">
            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", "Registered organisation name" },
                       { "Value", Model.CompanyRegisteredName },
                   })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", "Company Registration Number" },
                       { "Value", Model.CompanyRegistrationNumber },
                   })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", "Organisation address" },
                       { "Value", Model.CompanyAddress },
                   })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", "Contact name" },
                       { "Value", Model.LoanApplicationContactName },
                       { "Link", Url.RouteUrl(new {
                           controller = "Accounts",
                           action = "UserProfile",
                           callback = "/application/check-your-details"
                       }) }
                   })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", "Email address" },
                       { "Value", Model.LoanApplicationContactEmail },
                       { "Link", Url.RouteUrl(new {
                           controller = "Accounts",
                           action = "UserProfile",
                           callback = "/application/check-your-details"
                       }) }
                   })

            @await Html.PartialAsync("_CheckAnswersRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", "Telephone number" },
                       { "Value", Model.LoanApplicationContactTelephoneNumber},
                       { "Link", Url.RouteUrl(new {
                           controller = "Accounts",
                           action = "UserProfile",
                           callback = "/application/check-your-details"
                       }) }
                   })
        </gds-summary-list>
    <gds-button name="action" type="submit" value="Continue" id="continue-button">
        Continue
    </gds-button>
</form>
</gds-div-grid-column-two-thirds>
