@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Loans.BusinessLogic.LoanApplication
@using HE.Investments.Loans.WWW.Models
@model HE.Investments.Loans.WWW.Models.LoanPurposeModel;
@inject ModelExpressionProvider ModelProvider
@{
    var hints = new[] { "This can include the redevelopment of uninhabitable buildings, or associated infrastructure." };

    var (radioInvalid, radioErrors) = ViewData.ModelState.GetErrors(ModelProvider.GetExpressionText((LoanPurposeModel x) => x.FundingPurpose));
    var fdProjectId = Context.Request.Query["fdProjectId"];
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="LoanApplicationV2" asp-action="LoanPurposePost" asp-method="post" asp-route-fdProjectId="@fdProjectId" novalidate>
        <gds-back-link href="@Url.Action("Back","LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.LoanPurpose, fdProjectId })" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        What do you require Homes England funding for?
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-p>
                    We will use this to route you to the correct transaction manager.
                </gds-p>
                <gds-div-form-group invalid="radioInvalid">
                    @if (radioInvalid)
                    {
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @radioErrors
                        </p>
                    }
                    <gds-custom-radio
                                  asp-for="FundingPurpose"
                                  value="@Model.FundingPurpose"
                                  radio-items="FormOption.FundingPurposes"
                                  radio-hints="@hints"
                                  class="govuk-!-margin-bottom-8">
                    </gds-custom-radio>
                </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
                Continue
            </button>
        </gds-field-set>
    </form>
</gds-div-grid-column-two-thirds>
